/* Start Variables*/

/* End Variables*/
/* Start Gloabal Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    padding-top: 10px;

}

.Logo {
    width: 90px;
}

.logo {
    padding-left: 20px;
    padding-right: 40px;

}

header .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;

}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
}

.links .sub .li {
    display: block;
    color: black;
    transition: .3s;
    text-decoration: none;
    font-weight: bold;
    padding: 30px 65px;
}

.dropdown {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    min-width: 180px;
    align-items: center;
    display: none;
}

.drop1 {
    margin-left: 24px;
    height: 140px;

}

.drop2 {
    margin-left: 27px;
    height: 149px;
}

.drop3 {
    margin-left: 40px;
    height: 240px;
}

.drop4 {
    margin-left: 19px;
    height: 140px
}

.dropdown a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
    text-align: center;
    transition: .3s;

}

.dropdown a:hover {
    padding-left: 25px;
}

.links .sub:hover .dropdown {
    display: block;
    z-index: 1000;

}

.h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 90px;
    font-family: opensans-heavy;
    color: #059;
    text-transform: uppercase;
}

.base {
    padding-bottom: 20px;
}

.grid {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.img a {
    background-color: transparent;
    line-height: inherit;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.img a img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    border-radius: 20px;


}

.title {
    margin-bottom: 10px;
}

.catcell1 {
    display: flex;
    margin-left: 31px;
    gap: 41px;
    width: 95%;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.catcell1 img {
    width: 90%;
}

.cell {
    padding-left: 5px;
    width: 313px;
    padding-top: 5px;
    transition: .3s;

}

.cell1 {
    padding-left: 5px;
    width: 313px;
    padding-top: 5px;
    transition: .3s;
    margin-bottom: 72px;


}

.cell2 {
    padding-left: 5px;
    width: 313px;
    padding-top: 5px;
    transition: .3s;
    margin-bottom: 72px;
    height: 365px;


}

.cell:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1.2;
    border-radius: 20px;
}

.cell1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1.2;
    border-radius: 20px;
}

.cell2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1.2;
    border-radius: 20px;
}

.title a {
    background-color: transparent;
    line-height: inherit;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

}

.summary {
    margin-bottom: 20px;
    width: 226px;
}

footer {
    width: 100%;
    background-color: #000;
    padding-top: 8px;



}

.foot {
    padding-bottom: 79px;
    color: white;
    padding-left: 20px;
    display: flex;
    gap: 162px;
}

span {
    font-size: medium;
    font-weight: bold;
}

span a {
    color: white;
    text-decoration: none;
}

.icon {
    display: flex;
    gap: 23px;
}

.icon a {
    color: white;
    text-decoration: none;
}

.back {
    background-image: url(../images/articles.jpg);
    min-height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}

.die {
    background-image: url(../images/mealplans.jpg);
    min-height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}

.headart {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headart h1 {
    max-width: 1000px;
    font-size: 50px;
    letter-spacing: 0;
    margin-bottom: 11px;
    text-align: center;
}

.headart p {
    text-align: center;
    font-size: 28px;
    max-width: 900px;
}

.cat h1 {
    margin-bottom: 76px;
    text-align: center;
}

.catcell {
    display: flex;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cat1 {
    display: grid;
    width: auto;
     padding-left: 5px;
    padding-right: 5px;
    ;
}

.cat1 a {
    text-decoration: none;
    text-align: center;
    font-size: 27px;
    margin-bottom: 26px;
    color: black;
    margin-top: 20px;
}

.cat1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1;
    border-radius: 20px;
}

/* Start Muscle Buldings */
.muscle {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.muscle h1 {
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.muscle h2 {
    padding-left: 22px;
}

.muscle p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.muscle img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.muscle ol {
    padding-left: 63px;

}

.muscle ol li {
    padding: 4px;

}

.eff li {
    padding: 5px;

}

/* End Muscle Bulidings */
/* Start Fat Loss */
.fat {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    text-align: center;
}

.fat h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.fat h2 {
    padding-left: 22px;
}

.fat p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.none {
    list-style: disc;

}

.fat ul {
    padding-left: 63px;

}

.fat ul li {
    padding: 4px;

}

.fat img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

table {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table tbody {
    width: 100%;
    display: table;
}

table th {
    color: white;
    background-color: black;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 20px;


}

table td {
    color: white;
    background-color: black;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;

}

table:hover {
    scale: 1.2;
}

table th:hover {
    background-color: #059;
}

table td:hover {
    background-color: #059;
}

/* End Fat Loss */
/* Start Nut. */
.nut {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    text-align: center;
}

.nut h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.nut h2 {
    padding-left: 22px;
}

.nut p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.none {
    list-style: disc;

}

.nut ul {
    padding-left: 63px;

}

.nut ul li {
    padding: 4px;
    list-style: disc;

}

.nut ol {
    padding-left: 63px;

}

.nut ol li {
    padding: 4px;

}

.nut img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* End Nut. */
/* start carb  */
.carb {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    text-align: center;
}

.carb img {
    width: 90%;
    height: auto;
    margin-left: 15px;
    border-radius: 20px;
}

.carb h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.carb h2 {
    padding-left: 22px;
}

.carb p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}


.carb ul {
    padding-left: 63px;

}

.carb ul li {
    padding: 4px;
    list-style: disc;

}

.carb ol {
    padding-left: 63px;

}

.carb ol li {
    padding: 4px;

}

/* end carb */
/* start Clean */
.clean {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    text-align: center;
}

.clean img {
    width: 90%;
    height: auto;
    margin-left: 15px;
    border-radius: 20px;
}

.clean h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.clean h2 {
    padding-left: 22px;
}

.clean p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}


.clean ul {
    padding-left: 63px;

}

.clean ul li {
    padding: 4px;
    list-style: disc;

}

.clean ol {
    padding-left: 63px;

}

.clean ol li {
    padding: 4px;
}

/* End Clean */
/* strat keto */
.keto {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    text-align: center;
}

.keto img {
    width: 90%;
    height: auto;
    margin-left: 15px;
    border-radius: 20px;
}

.keto h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.keto h2 {
    padding-left: 22px;
}

.keto p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}


.keto ul {
    padding-left: 63px;

}

.keto ul li {
    padding: 4px;
    list-style: disc;

}

.keto ol {
    padding-left: 63px;

}

.keto ol li {
    padding: 4px;
}
    
/* end keto */
/* Start Exercises */
.train {
    background-image: url(../images/exercises.jpg);
    min-height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}
.cat2 h1 {
    margin-bottom: 76px;
    text-align: center;
}

.catcell2 {
    display: flex;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.catcell2 img{
    width: 220px;
}

.cat2 {
    display: grid;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    
}


.cat2 a {
    text-decoration: none;
    text-align: center;
    font-size: 27px;
    margin-bottom: 26px;
    color: black;
    margin-top: 20px;
}



.cat2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    scale: 1;
    border-radius: 20px;
}
/* End Exercises */
/* Start Arm */
.arm{
    margin-left: 27px;

}
.bi{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.bar{
    display: grid;
    width: 390px;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.bar p{
    text-align: center;
}
.bar:hover{
    scale: 1.2;
    color: #059;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 420px;

}
.bar img{
    width: 100%;
    border-radius: 20px;

}
.tri{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
/* End Arm */
/* start Back */
.ba{
    margin-left: 27px;

}
.lat{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.la{
    display: grid;
    width: 390px;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.la p{
    text-align: center;
}
.la:hover{
    scale: 1.2;
    color: #059;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 420px;

}
.la img{
    width: 100%;
    border-radius: 20px;

}
.up{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}

/* End Back */
/* start chest */
.chest{
    margin-left: 27px;

}
.che{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.ch{
    display: grid;
    width: 390px;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.ch p{
    text-align: center;
}
.ch:hover{
    scale: 1.2;
    color: #059;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 420px;

}
.ch img{
    width: 100%;
    border-radius: 20px;

}


/* End Chest */
/* start shoulder */
.shoulder{
    margin-left: 27px;

}
.sho{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.sh{
    display: grid;
    width: 390px;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.sh p{
    text-align: center;
}
.sh:hover{
    scale: 1.2;
    color: #059;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 420px;

}
.sh img{
    width: 100%;
    border-radius: 20px;

}
/* end shoulder */
/* start LEG */
.LEG{
    margin-left: 27px;

}
.leg{
    display: flex;
    flex-wrap: wrap;
    margin-left: 31px;
    gap: 41px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}
.le{
    display: grid;
    width: 390px;
    padding: 5px 0 5px 0;
    transition: .3s;
}
.le p{
    text-align: center;
}
.le:hover{
    scale: 1.2;
    color: #059;
    background-color: #f6f6f6;
    border-radius: 20px;
    width: 420px;

}
.le img{
    width: 100%;
    border-radius: 20px;

}
/* end LEg */
.split {
    background-image: url(../images/workouts.jpg);
    min-height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}
.ppl{
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.ppl h1{
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.ppl p{
    width: 100%;
    padding: 5px 22px 3px 22px;

}
.ppl h3{
    text-align: center;
}

.AR{
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.AR h1{
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.AR p{
    width: 100%;
    padding: 5px 22px 3px 22px;

}
.AR h3{
    text-align: center;
}
.pro{
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.pro h1{
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pro h3{
    text-align: center;
}

.dumbell{
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.dumbell h1{
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.dumbell h3{
    text-align: center;
}
/* start Body type */
.bd {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.bd h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bd h2 {
    padding-left: 22px;
}

.bd p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.none {
    list-style: disc;

}

.bd ul {
    padding-left: 63px;

}

.bd ul li {
    padding: 4px;

}

.bd img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
/* end body type */
/* start 43 HP */
.HP {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.HP h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.HP h2 {
    padding-left: 22px;
}
.HP h3 {
    padding-left: 22px;
}

.HP p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.none {
    list-style: disc;

}

.HP ul {
    padding-left: 63px;

}

.HP ul li {
    padding: 4px;

}

.HP img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
/* end */
/* start Lat variation */
.pd {
    margin-bottom: 106px;
    margin-left: 120px;
    margin-right: 120px;
}
.pd h1 {

    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.pd h2 {
    padding-left: 22px;
}
.pd h3 {
    padding-left: 22px;
}

.pd p {
    width: 100%;
    padding: 5px 22px 3px 22px;

}

.none {
    list-style: disc;

}

.pd ul {
    padding-left: 63px;

}

.pd ul li {
    padding: 4px;

}

.pd img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
/* end */